parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        # Ignore Symfony framework internals
        - '#Call to an undefined method Symfony\\Component\\DependencyInjection\\ContainerInterface::\w+\(\)#'